<header class="site-header">

  <div class="wrap">
    <div class="site-logo">
     <a href="{{ site.baseurl }}/index.html"><img src="{{ site.baseurl }}/image/liteslim.png"/></a>
    </div>

    <div class="nav">
      <ul>
        <li><a href="{{ site.baseurl }}/home-en">Home</a></li>
        <li><a href="{{ site.baseurl }}/about-en">About Us</a></li>
        <li><a href="{{ site.baseurl }}/info-en">Info</a>
            <ul>
                <li><a href="{{ site.baseurl }}/how-en">How it works</a></li>
                <li><a href="{{ site.baseurl }}/ingredient-en">Safe Healthy Ingredient</a></li>
                <li><a href="{{ site.baseurl }}/see-en">Food See-Saw</a></li>
            </ul></li>
        <li><a href="{{ site.baseurl }}/app-en">Nuvitrin App</a></li>
        <li><a href="{{ site.baseurl }}/store-en">Store</a></li>
        <li><a href="{{ site.baseurl }}/contact-en">Contact us </a></li>
      </ul>
      <div class="language">
      <li><a href="{{ site.baseurl }}/home-en" style="color:#000; padding-top:5%" ><img src= "{{site.baseurl}}/image/United States of America.png"> English</a></li>
      <li><a href="{{ site.baseurl }}/index.html" style="color:#000; list-style-type:block; padding-top:5%"><img src= "{{site.baseurl}}/image/South Korea.png"> 한국어</a></li>
      </div>
  </div>
</div>
  
</header>
