<header class="site-header">

  <div class="wrap">
  

    <div class="nav">
      <div class="site-logo">
     <img src="{{ site.baseurl }}/image/liteslim.png"/>
      </div>
      <ul>
        <li><a href="{{ site.baseurl }}/index.html">홈</a></li>
        <li><a href="{{ site.baseurl }}/about">About us </a></li>
        <li><a href="{{ site.baseurl }}/info">Nuvitrin Info</a>
            <ul>
                <li><a href="{{ site.baseurl }}/how">How it works</a></li>
                <li><a href="{{ site.baseurl }}/ingredient">Safe Healthy Ingredient</a></li>
                <li><a href="{{ site.baseurl }}/see">Food See-Saw</a></li>
            </ul></li>
        <li><a href="{{ site.baseurl }}/app">Nuvitrin App</a></li>
        <li><a href="{{ site.baseurl }}/store">Nuvitrin Store</a></li>
        <li><a href="{{ site.baseurl }}/contact">Contact us </a></li>
      </ul>

      <div class="language">
      <li><a href="{{ site.baseurl }}/home-en">English</a></li>
      <li><a href="{{ site.baseurl }}/index.html">한국어</a></li>
  </div>
    </div>

</div>
  
</header>
