<header class="site-header">

  <div class="wrap">
  
    <div class="nav">
      <div class="site-logo">
        <img src="{{ site.baseurl }}/image/liteslim.png"/>
      </div>
      <ul>
        <li><a href="{{ site.baseurl }}/index.html">홈</a></li>
        <li><a href="{{ site.baseurl }}/about">뉴비트린</a></li>
        <li><a href="{{ site.baseurl }}/info">제품소개</a>
            <ul>
                <li><a href="{{ site.baseurl }}/how">사용방법</a></li>
                <li><a href="{{ site.baseurl }}/ingredient">Safe Healthy Ingredient</a></li>
                <li><a href="{{ site.baseurl }}/see">Food See-Saw</a></li>
            </ul></li>
        <li><a href="{{ site.baseurl }}/app">뉴비트린 앱</a></li>
        <li><a href="{{ site.baseurl }}/store">뉴비트린 스토어</a></li>
        <li><a href="{{ site.baseurl }}/contact">고객지원</a></li>
      </ul>
      <div class="language">
      <li><a href="{{ site.baseurl }}/home-en" style="color:#000; padding-top:5%" ><img src= "{{site.baseurl}}/image/United States of America.png"> English</a></li>
      <li><a href="{{ site.baseurl }}/index.html" style="color:#000; list-style-type:block; padding-top:5%"><img src= "{{site.baseurl}}/image/South Korea.png"> 한국어</a></li>
      </div>
    </div>

  </div>
  
</header>
