<header class="site-header">

  <div class="wrap">
    <div class="site-logo"><img src="/liteslim.png" /></div>
    <nav class="site-nav">
      <a href="#" class="menu-icon"></a>

    <nav>
      <ul id = "nav">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/about">About us </a></li>
        <li><a href="/info">Nuvitrin Info</a></li>
        <li><a href="/app">Nuvitrin App</a></li>
        <li><a href="/store">Nuvitrin Store</a></li>
        <li><a href="/contact">Contact us </a></li>

      </ul>
    </nav>
      <!--
      <div class="trigger">
        <a class="page-link">Home</a>
        <a class="page-link">about</a>
        <a class="page-link">Nuvitrin Info</a>
        <a class="page-link">Nuvitrin App</a>
        <a class="page-link">Nuvitrin Store</a>
        <a class="page-link">Contact us</a>
      </div>


    </nav>

  </div>-->

</header>
